body {
    background-color:maroon;
    background-size: cover;
    height:100vh;
    width:100%;

}

.game-container{
    height: 95%;
    width: 95%;
}

.heading {
    width: 100%;
    height: 25%;
    background-color: rgb(44, 83, 240);
}

.main-section {
    
    width:100%;
    height: 75%;
    background-color: rgb(187, 82, 64);
}
.game-start{
    height:100%; 
    width:100%;
}
.game-section {

    text-align: center;
    height:100%;
    width:100%;
}

/* Display Rotation here */
